<!-- Page Content -->
<div class="jumbotron" style="padding-bottom: 0px; margin-bottom: 0px;">
  <div class="container" style="padding-bottom: 0px; margin-bottom: 0px;">
    <%= image_tag 'cabecera', class: 'img-responsive' %>
  </div>
</div>

<div class="container">
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Restaurantes</a>
      </h3>
      <a href="#">
        <%= image_tag 'restaurantes', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Shopping y Lujo</a>
      </h3>
      <a href="#">
        <%= image_tag 'shopping', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'alquileres', class: 'img-responsive' %>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'excursiones-y-deportes', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'hoteles', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'de-la-isla', class: 'img-responsive' %>
      </a>
    </div>
  </div>

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'fiesta', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'bares-tapas-y-vermuts', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-4 portfolio-item">
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <a href="#">
        <%= image_tag 'estetica-y-fitness', class: 'img-responsive' %>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <h6>
          <p>Copyright &copy; octopusgram 2015</p>
        </h6>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->
